*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: inherit;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea,
select,
button,
input {
  appearance: none;
  border-radius: 0;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

html, body {
  background-color: #131315;
  color: rgba(255, 255, 255, 0.6);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0.5em 2em;
  position: fixed;
  top: 0;
  width: 100%;
}
@media (max-width: 300px) {
  nav {
    padding: 0.5em;
  }
}
nav div {
  display: flex;
  align-items: center;
}
nav div a:hover, nav div a.active {
  color: rgb(190, 75, 75);
}
nav #home {
  margin-right: 1em;
}
nav img {
  width: 80px;
}

.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loading p {
  margin-top: 1em;
  font-size: 1.2rem;
}
.loading img {
  width: 150px;
}

.movies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5em;
}
.movies .all-movies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.movies .all-movies .movie {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 460px;
  padding: 1em;
}
.movies .all-movies .movie h3 {
  color: white;
  margin-top: 0.5em;
}
.movies .all-movies .movie p {
  text-align: center;
}
.movies .all-movies .movie div:first-of-type {
  align-items: center;
}
.movies .all-movies .movie div:last-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 50px;
}
.movies .all-movies .movie div:last-of-type button {
  background-color: rgb(82, 78, 78);
  color: white;
  padding: 0.5em 1em;
  border-radius: 5px;
}
.movies .all-movies .movie div:last-of-type button:first-of-type {
  margin-right: 1em;
  padding: 0.5em 0.8em;
  border-radius: 100px;
}
.movies .all-movies .movie div:last-of-type button:hover {
  background-color: rgb(190, 75, 75);
}
.movies .all-movies .movie img {
  height: 75%;
  width: 100%;
  cursor: pointer;
}
.movies .sort-btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2em;
}
@media (max-width: 730px) {
  .movies .sort-btns {
    flex-direction: column;
  }
}
.movies .sort-btns select {
  display: flex;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
  width: 20%;
  text-align: center;
  cursor: pointer;
}
.movies .sort-btns select option {
  background-color: black;
}
.movies .sort-btns select option:first-of-type {
  border: 1px solid rgba(255, 255, 255, 0.6);
}
.movies .sort-btns button {
  font-size: 1rem;
  width: 20%;
}
.movies .sort-btns input {
  font-size: 1rem;
  color: white;
  width: 20%;
  text-align: center;
  background-color: rgb(190, 75, 75);
  padding: 0.5em;
  border-radius: 5px;
}
.movies .sort-btns input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.movies .sort-btns select:hover, .movies .sort-btns button:hover {
  color: rgb(190, 75, 75);
}
@media (max-width: 730px) {
  .movies .sort-btns select, .movies .sort-btns .sort, .movies .sort-btns input {
    width: auto;
    margin-bottom: 0.5em;
  }
}

.one-movie {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8em 4em 4em 4em;
}
@media (max-width: 870px) {
  .one-movie {
    padding: 8em 2em 4em 2em;
  }
}
@media (max-width: 300px) {
  .one-movie {
    padding: 6.2em 2em 4em 2em;
  }
}
.one-movie .details-0 {
  margin-bottom: 1rem;
}
.one-movie .details-0 iframe {
  width: 560px;
  height: 315px;
}
@media (max-width: 610px) {
  .one-movie .details-0 iframe {
    width: 100%;
    height: 100%;
  }
}
.one-movie .details-1 {
  display: flex;
  max-width: 800px;
}
@media (max-width: 870px) {
  .one-movie .details-1 {
    flex-wrap: wrap;
  }
}
.one-movie .details-1 .item-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 870px) {
  .one-movie .details-1 .item-1 {
    margin: 0.5em auto 1em auto;
  }
}
@media (max-width: 300px) {
  .one-movie .details-1 .item-1 {
    margin: 0.5em auto 1em auto;
  }
  .one-movie .details-1 .item-1 img {
    width: 100%;
  }
}
.one-movie .details-1 .item-2 {
  padding: 0 0 2em 2em;
}
@media (max-width: 870px) {
  .one-movie .details-1 .item-2 {
    padding: 0;
  }
}
.one-movie .details-1 .item-2 strong, .one-movie .details-1 .item-2 h2 {
  color: white;
}
.one-movie .details-1 .item-2 h2 {
  text-align: center;
  margin-bottom: 1em;
}
.one-movie .details-1 .item-2 .add-remove {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}
.one-movie .details-1 .item-2 .add-remove button {
  background-color: white;
  color: black;
  padding: 0.5em 1em;
  font-size: 1rem;
  border-radius: 5px;
}
.one-movie .details-1 .item-2 .add-remove button:first-of-type {
  margin-right: 1em;
  border-radius: 50px;
}
.one-movie .details-1 .item-2 .add-remove button:hover {
  background-color: rgb(190, 75, 75);
}
.one-movie .details-2 {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.one-movie .details-2 button {
  background-color: white;
  color: black;
  padding: 0.5em 1em;
  font-size: 1rem;
  border-radius: 5px;
}
.one-movie .details-2 button:hover {
  background-color: rgb(190, 75, 75);
}

.wraper {
  margin-top: 7em;
}
.wraper .fav-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wraper .fav-btns button {
  background-color: white;
  color: black;
  padding: 0.5em 1em;
  font-size: 1rem;
  border-radius: 5px;
}
.wraper .fav-btns button:first-of-type, .wraper .fav-btns button:nth-child(2) {
  margin-right: 1em;
}
.wraper .fav-btns button:hover {
  background-color: rgb(190, 75, 75);
}

.favorites {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1em;
}
.favorites .favorite {
  display: flex;
  margin: 2em 1em;
  width: 400px;
}
.favorites .favorite div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2em;
}
.favorites .favorite div h3 {
  color: white;
}
.favorites .favorite img {
  width: 150px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
  height: 100vh;
}

#cart-img {
  width: 30px;
  margin-right: 0.3em;
  margin-left: 1em;
}

.cart-btns {
  display: flex;
  align-items: center;
}
.cart-btns p {
  margin-right: 1em;
  color: white;
}

.checkout-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.products .product {
  display: flex;
  justify-content: space-between;
  min-width: 430px;
}
.products .product strong {
  color: white;
}
.products .line {
  width: 100%;
  height: 0.05em;
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 1em;
}
.products .total p {
  text-align: center;
  color: red;
  margin-top: 1em;
  font-weight: bold;
}
.products .total p strong {
  color: white;
}

.client {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1rem;
  margin-top: 2em;
  width: 100%;
}
.client div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.client div label {
  display: block;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: 0.2em;
}
.client div input {
  font-size: 1rem;
  color: white;
  text-align: center;
  background-color: rgb(190, 75, 75);
  padding: 0.5em;
  border-radius: 5px;
  margin-bottom: 0.5em;
  width: 80%;
}
.client div input::placeholder {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
}

.checkout {
  background-color: white;
  color: black;
  padding: 0.5em 1em;
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.8em 1.8em;
  font-weight: bold;
  margin-top: 1em;
}
.checkout:hover {
  background-color: rgb(190, 75, 75);
}

.no-products {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: white;
  height: 100vh;
}/*# sourceMappingURL=App.css.map */