.wraper {
    margin-top: 7em;

    @media (max-width: 475px) {
        margin-top: 6.5em;
    }

    .fav-btns{
        @include flex-aligned-justified-center;

        @media (max-width: 475px) {
            @include flex-wrap-wrap;
        }

        button{
            @include button-style;
            margin-top: 0.5em;
        }

        button:first-of-type, button:nth-child(2){
            margin-right: 1em;
        }

        button:hover {
            background-color: $pale-red;
        }
    }
}

.favorites {
    @include flex-aligned-justified-center;
    @include flex-wrap-wrap;
    margin-top: 1em;

    .favorite {
        @include flex;
        margin: 2em 1em;
        width: 400px;

        div {
            @include flex;
            @include flex-direction-column;
            @include justify-content-center;
            margin-left: 2em;

            h3 {
                color: $white;
            }
        }

        img {
            width: 150px;
        }
    }
}