.wraper {
    margin-top: 7em;
    .fav-btns{
        display:flex;
        align-items: center;
        justify-content: center;
        button{
            @include button-style
        }
        button:first-of-type, button:nth-child(2){
            margin-right: 1em;
        }
    }
}

.favorites {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1em;

    .favorite {
        display: flex;
        margin: 2em 1em;
        width: 400px;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 2em;

        }

        img {
            width: 150px;
        }
    }
}

