html, body {
    background-color: $background-color;
    color: $lightgray;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $black;
    padding: 0.5em 2em;
    position: fixed;
    top: 0;
    width: 100%;

    div {
        display: flex;
        align-items: center;
    }

    #home {
        margin-right: 1em;
    }

    img {
        width: 80px;
    }
}

.loading {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        margin-top: 1em;
        font-size: 1.2rem;
    }

    img {
        width: 150px;
    }
}