html, body {
    background-color: $background-color;
    color: $light-gray;
}

nav {
    @include flex;
    justify-content: space-between;
    @include align-items-center;
    background-color: $black;
    padding: 0.5em 2em;
    position: fixed;
    top: 0;
    @include width100;

    div {
        @include flex-aligned-center;

        a:hover, a.active {
            color: $pale-red;
        }
    }

    #home {
        margin-right: 1em;
    }

    img {
        width: 80px;
    }
}

.loading {
    height: 100vh;
    @include flex-aligned-justified-center;
    @include flex-direction-column;

    p {
        margin-top: 1em;
        font-size: 1.2rem;
    }

    img {
        width: 150px;
    }
}