.one-movie {
    @include flex-aligned-justified-center;
    @include flex-direction-column;
    padding: 8em 4em 4em 4em;

    @media (max-width: 870px) {
        padding: 8em 2em 4em 2em;
    }

    @media (max-width: 300px) {
        padding: 6.2em 2em 4em 2em;
    }

    .details-0 {
        margin-bottom: 1rem;

        iframe {
            width: 560px; 
            height: 315px;

            @media (max-width: 610px) {
                width: 100%;
                height: 100%;
            }
        }
    }

    .details-1 {
        display: flex;
        max-width: 800px;

        @media (max-width: 870px) {
            @include flex-wrap-wrap;
        }

        .item-1 {
            @include flex-aligned-justified-center;

            @media (max-width: 870px) {
                margin: 0.5em auto 1em auto;
            }

            @media (max-width: 300px) {
                img {
                    width: 100%;
                }
                margin: 0.5em auto 1em auto;
            }
        }

        .item-2 {
            padding: 0 0 2em 2em;

            @media (max-width: 870px) {
                padding: 0;
            }

            strong, h2 {
                color: $white;
            }

            h2 {
                @include text-align-center;
                margin-bottom: 1em;
            }

            .add-remove {
                @include flex-aligned-justified-center;
                margin-top: 1em;

                button {
                    @include button-style;

                    &:first-of-type {
                        margin-right: 1em;
                        border-radius: 50px;
                    }

                    &:hover {
                        background-color: $pale-red;
                    }
                }
            }
        }
    }

    .details-2 {
        @include flex;
        @include justify-content-center;
        margin-top: 2em;

        button {
            @include button-style;

            &:hover {
                background-color: $pale-red;
            }
        }
    }
} 