.one-movie {
    @include flex-aligned-justified-center;
    @include flex-direction-column;
    margin: 8em 4em 4em 4em;

    .details-1 {
        display: flex;
        max-width: 800px;

        .item-1 {
            @include flex-aligned-justified-center;
        }

        .item-2 {
            padding: 0 0 2em 2em;

            strong, h2 {
                color: $white;
            }

            h2 {
                @include text-align-center;
                margin-bottom: 1em;
            }

            .add-remove {
                @include flex-aligned-justified-center;
                margin-top: 0.5em;

                button {
                    @include button-style;

                    &:first-of-type {
                        margin-right: 1em;
                        border-radius: 50px;
                    }

                    &:hover {
                        background-color: $pale-red;
                    }
                }
            }
        }
    }

    .details-2 {
        @include flex;
        @include justify-content-center;
        margin-top: 2em;

        button {
            @include button-style;

            &:hover {
                background-color: $pale-red;
            }
        }
    }
} 