.movies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

    .all-movies {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    
        .movie {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 250px;
            height: 460px;
            padding: 1em;
            
            img {
                height: 75%;
                width: 100%;
            }
        }
    }

    .sort-btns {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
        select{
            display: flex;
            flex-wrap: wrap;
            font-size: 1rem;
            color:$lightgray;
            width: 20%;
            text-align: center; 
            option{
                background-color: $black;
            }
        }
        button {
            font-size: 1rem;
            width: 20%;

        }
        input{
            font-size: 1rem;
            color:$white;
            width: 20%;
            text-align: center;

        }
        input::placeholder{
            color:$lightgray;
        }
    
    }
}