.movies {
    @include flex;
    @include flex-direction-column;
    @include justify-content-center;
    @include flex-wrap-wrap;
    margin-top: 5em;

    .all-movies {
        @include flex-aligned-justified-center;
        @include flex-wrap-wrap;
    
        .movie {
            @include flex-aligned-justified-center;
            @include flex-direction-column;
            width: 250px;
            height: 460px;
            padding: 1em;

            h3 {
                color: $white;
                margin-top: 0.5em;
            }

            p {
                @include text-align-center;
            }

            div {
                &:first-of-type {
                    @include align-items-center;
                }

                &:last-of-type {
                    @include flex-aligned-justified-center;
                    width: 70%;
                    height: 50px;
                    
                    button {
                        background-color: $dark-gray;
                        color: $white;
                        padding: 0.5em 1em;
                        border-radius: 5px;

                        &:first-of-type {
                            margin-right: 1em;
                            padding: 0.5em 0.8em;
                            border-radius: 100px;
                        }

                        &:hover {
                            background-color: $pale-red;
                        }
                    }
                }
            }
            
            img {
                height: 75%;
                @include width100;
                cursor: pointer;
            }
        }
    }

    .sort-btns {
        @include width100;
        @include flex-aligned-justified-center;
        @include flex-wrap-wrap;
        margin-top: 2em;

        @media (max-width: 730px) {
            @include flex-direction-column;
        }

        select {
            @include flex;
            @include font-size1rm;
            color: $light-gray;
            @include width20;
            @include text-align-center;
            cursor: pointer;

            option {
                background-color: $black;

                &:first-of-type {
                    border: 1px solid $light-gray;
                }
            }
        }

        button {
            @include font-size1rm;
            @include width20;

        }

        input{
            @include font-size1rm;
            color:$white;
            @include width20;
            @include text-align-center;
            background-color: $pale-red;
            padding: 0.5em;
            border-radius: 5px;
        }

        input::placeholder{
            color:$light-gray;
        }

        select:hover, button:hover {
            color: $pale-red;
        }

        select, .sort, input {
            @media (max-width: 730px) {
                width: auto;
                margin-bottom: 0.5em;
            }
        }
    }
}





